<%= form_for(@calculator) do |f| %>
  <% if @calculator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculator.errors.count, "error") %> prohibited this calculator from being saved:</h2>

      <ul>
      <% @calculator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :page_text %><br />
    <%= f.text_area :page_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
