<h1>Listing calculators</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Page text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calculators.each do |calculator| %>
  <tr>
    <td><%= calculator.title %></td>
    <td><%= calculator.page_text %></td>
    <td><%= link_to 'Show', calculator %></td>
    <td><%= link_to 'Edit', edit_calculator_path(calculator) %></td>
    <td><%= link_to 'Destroy', calculator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calculator', new_calculator_path %>
