<%= form_for(@about_aa) do |f| %>
  <% if @about_aa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_aa.errors.count, "error") %> prohibited this about_aa from being saved:</h2>
		
      <ul>
      <% @about_aa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="pagetitle" width=100%>
		<%= f.text_field :title %>
	</div>
	<div class="pagetext" width=100%>
		<br />
		<%= f.text_area :page_text, :class=>"tinymce", :rows=>100, :cols=>300 %>
		<%= tinymce %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

