<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @about_aa.title %>
</p>

<p>
  <b>Page text:</b>
  <%= @about_aa.page_text %>
</p>


<%= link_to 'Edit', edit_about_aa_path(@about_aa) %> |
<%= link_to 'Back', about_aas_path %>
