<p id="notice"><%= notice %></p>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @codes.each do |code| %>
		<tr>
			<td class='pagetitle'><%=raw code.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw code.page_text %></td>
		</tr>
	<% end %>
</table>
<br />

<%= link_to 'New Code', new_code_path %>