<p id="notice"><%= notice %></p>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
		<tr>
			<td class='pagetitle'><%= raw @link.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw @link.page_text %></td>
		</tr>
</table>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
