<p id="notice"><%= notice %></p>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
		<tr>
			<td class='pagetitle'><%= raw @form.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw @form.page_text %></td>
		</tr>
</table>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
